table {
	font-size: 16px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

td, th {
	border: 1px solid #ddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

th {
	padding-top: 11px;
	padding-bottom: 11px;
	background-color: #4CAF50;
	color: white;
}

input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

input[type=text]:focus {
	background-color: #3CBC8D;
	color: white;
}

input[type="submit"] {
	display: none;
}